.container-header {
  position: relative;
}
.hero-image {
  background: #8c8c8c url("../img/coffe.jpg") top left no-repeat;
  background-size: cover;
  height: 900px;
}
.hero-image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #a3a3a3, #987c68);
  opacity: .4;
  height: 900px;
}
.menu {
  position: relative;
}
.menu img {
  position: relative;
  width: 160px;
  top: 30px;
}
.menu .menu-item {
  float: right;
}
.menu .menu-item ul {
  list-style: none;
  margin: 50px 0;
}
.menu .menu-item li {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
}
.menu .menu-item li:hover a,
.menu .menu-item li:active a,
.menu .menu-item li:focus a {
  border-bottom: 3px solid #ac2925;
}
.menu .menu-item li a {
  color: #ffffff;
  font-size: 1.3em;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.4s ease;
}
.logo {
  max-width: 160px;
}
.hero-image-txt {
  position: absolute;
  top: 200px;
  left: 8%;
  color: #ffffff;
  -webkit-animation: animation 3000ms linear both;
  animation: animation 3000ms linear both;
}
.hero-image-txt h1 {
  font-size: 3em;
}
.hero-image-txt h4 {
  font-size: 1.5em;
}
.hero-image-txt button {
  background: #F3C937;
  border: none;
  font-size: 2em;
  padding: 15px 40px;
  margin-top: 30px;
  border-radius: 10px;
}
.container-fluid {
  max-width: 1500px;
}
.box {
  position: relative;
  top: -90px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #cdcdcd;
}
.box .box-col {
  padding: 20px 50px;
}
.box .box-col a {
  color: #ac2925;
  text-transform: uppercase;
}
